<div class="row">
    <div class="col-12">
        <h1>Terms and Conditions</h1>
        <p>Welcome to Zorin Mobile Shop. These terms and conditions outline the rules and regulations for the use of our website.</p>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Zorin Mobile Shop if you do not agree to take all of the terms and conditions stated on this page.</p>
        <p>Puppy kitty ipsum dolor sit good dog foot stick canary. Teeth Mittens grooming vaccine walk swimming nest Willow. Fluffy furry kittens scratching post mouse running yarn boy good boy feedback. Playful purr meow run friends heating pad bell biting scratches.</p>
    </div>
</div>
